<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %> and <%= @friend.name %></h1>
    <p>
      You have registered a matching. Say hello to your new friend: @friend.mail, @user.mail.<br>
    </p>
    <p>Thanks for use our app have a great day!</p>
  </body>
</html>