<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<div class="panel panel-default" id="nomaslike">
			<figure>
		  		<%= image_tag "person.png" %>
		  		<p id="msgnomaslike">No hay mas amig@s cerca....</p>
			</figure>
		</div>
	</div>
</div>
