/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*-------------------------------------------------*/
/*Personalizando background del body*/
 body{
	background-image: url(http://www.zingerbugimages.com/backgrounds/light_blue_and_white_interlocking_concentric_circles.jpg);
 }
 /*-------------------------------------------------*/
 .nav > li > a{
	display: inline;
 }
.nav>li>img{
	width: 51px;
	height: 51px;
}
#logo, #mensajebarra{
	color: #3071a9;
}
#logo{
	font-weight: bold;
}
/*-------------------------------------------------*/
/*Personalizando estilos e imagenes en el carousel */
#carousel-example-generic{
	margin-top: 25px;
}
.carousel-caption h3{
   font-size: 50px;
   color: white;
}
#carousel-example-generic .item{
	max-height: 500px;
}
}#slide1, #slide2, #slide3 {
	overflow: hidden;
}
#slide1 img, #slide2 img, #slide3 img {
	width: 1280px;	overflow: hidden;
}
/*-------------------------------------------------*/
/*Personalizando el footer*/
.footer{
	position: absolute;
	bottom:0;
	margin-bottom: 0;
	margin-top: 20px;
	border-radius: 0;
	width: 100%;
}
/*-------------------------------------------------*/
/*Personalizando botones*/
.botonentrar,.botonregistro{
	margin-top: 20px;
}
.botonregistro2{
	margin-top: 0;
}
.botonregistro3, .botonrecuperador{
	margin-top: 10px;
}
/*-------------------------------------------------*/
/*Personalizando el cuerpo del home*/
#barraprincipal{
	margin-bottom: 0;
}
/*-------------------------------------------------*/
/*Personalizando el Login*/
#login{
	background-color: white;
	width: auto;
	margin-top: 50px;
	padding: 15px 30px;
}
#login h2{
	font-size: 45px;
	margin-top: 10px;
}
/*-------------------------------------------------*/
/*Personalizando el Login*/
#signup{
	background-color: white;
	width: auto;
	margin-top: 50px;
	padding: 15px 30px;
}
/*-------------------------------------------------*/
/*Personalizando Recuperacion de Password*/
#recuperador{
	background-color: white;
	width: auto;
	margin-top: 50px;
	padding: 15px 30px;
}
#recuperador h2{
	font-size: 30px;
	margin-top: 10px;
}
/*-------------------------------------------------*/
/*Personalizando like*/
#like{
	background-color: white;
	width: auto;
	margin-top: 50px;
	padding: 15px 30px;
}
#like #userinfo, #msgnomaslike{
	color: #3071a9;
}
.botongustar, .botonnogustar{
	margin-top: 10px;
}
/*-------------------------------------------------*/
/*Personalizando vista cuando ya no hay mas likes*/
#nomaslike{
	background-color: white;
	width: auto;
	margin-top: 50px;
	padding: 15px 30px;
	font-size: 25px;
}
#nomaslike p{
	margin-top: 10px;
}
/*-------------------------------------------------*/
/*Personalizando el match entre dos usuarios*/
#match{
	background-color: white;
	width: auto;
	margin-top: 50px;
	padding: 15px 30px;

}
#matching{
	display: inline-block;
}
/*-------------------------------------------------*/
/*Personalizando Media Queries*/
/* Portrait & landscape phone */
/* Large desktop */
@media (min-width: 1200px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
 	.carousel-caption h3{
   	font-size: 35px;
   	color: white;
   }
}

@media (max-width: 480px) {
	.carousel-caption h3{
   	font-size: 25px;
   	color: white;
   }
}




